@model CreateModel

<div class="row ">
    <div class="offset-5">
        <h2>Title : @Model.Title</h2>
        <p><b>Date</b> : @Model.Date</p>
        <p><b>Location</b> : @Model.Location</p>
        <p><b>Start Time</b> : @Model.StartTime.TimeOfDay</p>
        <p><b>Type</b> : @Model.Type</p>
        <p><b>Duration In Hours</b> : @Model.DurationInHours</p>
        <p><b>Description</b> : @Model.Description</p>
        <p><b>Other Details</b> : @Model.OtherDetails</p>
        <p><b>Invite By Email</b> : @Model.InviteByEmail</p>
    </div>
</div>
